.App, body {
  text-align: center;
  background: lightgray;
}

li {
  list-style-type: none;
}

span {
  font-weight: bold;
  font-size: 1.2rem;
  color: peru;
}

ul, h2 {
  margin: 5px;
  padding: 5px;
}

/* CSS COMPONENT */
.container {

  animation: example 3s;
  border: solid 1px black;
  background: white;
}

.box {
  height: 100px;
  width: 500px;
  margin: 10px auto;
  border: solid 1px black;
  animation: spin 1.2s 1 linear;
}


.box:nth-child(2n) {
  background: lightgreen;
}

.box:nth-child(2n+1) {
  box-shadow: -1px -1px 5px black inset;
  background: linear-gradient(purple, gray)
}

.css {
  text-decoration: underline purple wavy;
}

input {
  font-size: 2rem;
  margin: 25px;
}

input:focus {
  background: black;
}

.green:focus {
  color: green;
}

.red:focus {
  color: red;
}

.blue:focus {
  color: blue;
}

input:disabled {
  background:#999999;
} 

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes example {
  from {
    background: gray;
  }
  to {
    background: white;
  }
}

@media print {
  .box {
    display: none ;
  }
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}